---
http_interactions:
- request:
    method: get
    uri: http://www.xmlfiles.com/examples/cd_catalog.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 24 Apr 2012 21:06:45 GMT
      Etag:
      - '"80a095275e22cd1:0"'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"ISO8859-1\" ?>\r\n<CATALOG>\r\n  <CD>\r\n
        \   <TITLE>Empire Burlesque</TITLE>\r\n    <ARTIST>Bob Dylan</ARTIST>\r\n
        \   <COUNTRY>USA</COUNTRY>\r\n    <COMPANY>Columbia</COMPANY>\r\n    <PRICE>10.90</PRICE>\r\n
        \   <YEAR>1985</YEAR>\r\n  </CD>\r\n  <CD>\r\n    <TITLE>Hide your heart</TITLE>\r\n
        \   <ARTIST>Bonnie Tylor</ARTIST>\r\n    <COUNTRY>UK</COUNTRY>\r\n    <COMPANY>CBS
        Records</COMPANY>\r\n    <PRICE>9.90</PRICE>\r\n    <YEAR>1988</YEAR>\r\n
        \ </CD>\r\n  <CD>\r\n    <TITLE>Greatest Hits</TITLE>\r\n    <ARTIST>Dolly
        Parton</ARTIST>\r\n    <COUNTRY>USA</COUNTRY>\r\n    <COMPANY>RCA</COMPANY>\r\n
        \   <PRICE>9.90</PRICE>\r\n    <YEAR>1982</YEAR>\r\n  </CD>\r\n  <CD>\r\n[...]
